

body {
	background-image: linear-gradient(to right top, #566d90, #427487, #477776, #5b7667, #6e7460);
	scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #04AA6D;
  color: white;
  padding: 12px 20px;
  border: none;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}  

#gmap_canvas {
	height: 60vh;
	width: 100%;
}

.my-4 {
	margin-bottom: 1.5rem;
	margin-top: 1.5rem;
}

/*.col-md-6 {
	flex: 50%;
	max-width: 50%;
}*/
